body {
    align-content: center;
    background-color: black;
    color: white;
    font-family: Verdana;
    font-weight: normal;
    text-align: center;
}

h2, h1 {
    color:white;
    display: block;
    font-size: 50px;
    font-weight: 400;
    
}

a {
    color: Aquamarine;
    font-size: 16px;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}

p {
    color: rgb(128, 128, 128);
}

footer {
    color: rgb(72, 72, 72);
    text-align: right;
}